$default-color          : #3f536e !default;
$primary-color          : #1890ff !default;
$info-color             : #2db7f5 !default;
$success-color          : #52c41a !default;
$warning-color          : #faad14 !default;
$error-color            : #f5222d !default;
$transparent-color      : transparent !default;
$border-color           : #e2ecf4 !default;
$desc-color             : #999 !default;
$code-background        : #ebf8ff !default;
$desc-background        : #fff !default;
$border-radius          : 4px !default;
// layout
$ly-primary: #99a9bf !default;
$ly-regular: #d3dce6 !default;
$ly-secondary: #e5e9f2 !default;