@import './common/var.scss';
@import './common/mixin.scss';

.xw-select_box {
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    .xw-select {
        display: flex;
        width: 100%;
        padding: 0px 15px;
        min-height: 32px;
        border: 1px solid $border-main-color;
        border-radius: $border-radius;
        box-sizing: border-box;
        cursor: pointer;
        overflow: hidden;
        background: #fff;
        align-items: center;
        font-size: 14px;
        &:focus {
            background: red;
        }
        &.xw-select-disabled {
            cursor: not-allowed;
            background: $input-dis-background;
            color: $dis-color;
        }
        &.xw-select-checked {
            border-color: $primary-color;
        }
        .xw-select_value {
            flex: 1;
            @include ellipsis;
            .xw-select_value_dis {
                color: $dis-color;
            }
            .xw-select_multiple_items {
                font-size: 12px;
                float: left;
                height: 20px;
                line-height: 20px;
                background: #f4f4f5;
                border-radius: $border-radius;
                margin: 2px 5px 2px 0;
                padding: 1px 10px;
                border: 1px solid $border-main-color;
                .xw-select_multiple_items_icon {
                    font-size: 12px;
                    margin-left: 2px;
                }
            }
            .xw-select_multiple_search {
                font-size: 14px;
                float: left;
                height: 26px;
                line-height: 26px;
                color: $default-color;
                max-width: 100px;
                cursor: pointer;
                &::placeholder {
                    color: $dis-color;
                }
            }
        }
        .xw-select_search {
            flex: 1;
            cursor: pointer;
            overflow: hidden;
            &::placeholder {
                color: $dis-color;
            }
            &.xw-select_search_disabled {
                cursor: not-allowed;
                background: $input-dis-background;
            }
        }
        .xw-select_icon {
            i {
                color: $border-main-color;
                margin-top: 1px;
                margin-left: 10px;
                transition: all .2s;
                display: inline-block;
            }
            .xw-select_down {
                transform: rotate(0deg);
            }
            .xw-select_up {
                transform: rotate(180deg);
            }
        }
    }
    .xw-select_list_box {
        position: relative;
        min-width: 100%;
        transition: all .1s;
        opacity: 1;
        z-index: 99;
        font-size: 14px;
        .xw-select_list {
            position: absolute;
            min-width: 100%;
            background: #fff;
            padding: 0;
            margin: 0;
            top: 5px;
            border-radius: $border-radius;
            box-shadow: 0 1px 6px $default-shadowcolor;
            line-height: 34px;
            .xw-select_list_item {
                cursor: pointer;
                padding: 5px 15px;
                white-space: nowrap;
                &:hover {
                    background: $select-checked-bg;
                }
                &.xw-select_list_item_checked {
                    background: $select-checked-bg;
                    color: $primary-color;
                }
                &.xw-select_list_item_multiple_checked {
                    color: $primary-color;
                }
                &.xw-select_list_item_dis {
                    color: $dis-color;
                    cursor: not-allowed;
                    &:hover {
                        background: #fff;
                    }
                }
                .xw-icon_multiple {
                    float: right;
                }
            }
        }
        .xw-select_nothing {
            position: absolute;
            min-width: 100%;
            background: #fff;
            padding: 0;
            margin: 0;
            border-radius: $border-radius;
            box-shadow: 0 1px 6px $default-shadowcolor;
            line-height: 34px;
            text-align: center;
            color: $dis-color;
        }
        .xw-select-group {
            padding:5px 15px;
            .xw-select-group_title {
                font-size: 12px;
                box-sizing: border-box;
                color: $dis-color;
                line-height: 20px;
            }
        }
    }
}