$default-color                  : #3f536e !default;
$primary-color                  : #1890ff !default;
$primary-plain-color            : #ecf5ff !default;
$info-color                     : #46baec !default;
$info-plain-color               : #f0f9eb !default;
$success-color                  : #52c41a !default;
$success-plain-color            : #f0f9eb !default;
$warning-color                  : #faad14 !default;
$warning-plain-color            : #fdf6ec !default;
$error-color                    : #f5222d !default;
$error-plain-color              : #fef0f0 !default;
$transparent-color              : transparent !default;
$desc-color                     : #999 !default;
$code-background                : #ebf8ff !default;
$desc-background                : #fff !default;
$border-radius                  : 4px !default;
// layout
$ly-primary                     : #99a9bf !default;
$ly-regular                     : #d3dce6 !default;
$ly-secondary                   : #e5e9f2 !default;
// border
$button-border-color            : #99c4f5 !default;
$border-main-color              : #DCDFE6 !default;    
$border-secondary-color         : #E4E7ED !default; 
// input
$input-default-height           : 32px !default;
$input-large-height             : 40px !default;
$input-mini-height             : 28px !default;
$input-dis-background           : #f7f7f7 !default;
// shadow
$default-shadowcolor            : rgba(0, 0, 0, 0.2) !default;
// select
$select-checked-bg              : rgba(243,243,243,0.8) !default;
// disabled
$dis-color                      : #c0c4cc !default;
