.ly-content {
    height: 36px;
    border-radius: $border-radius;
}
.ly-primary {
    background: $ly-primary;
}
.ly-regular {
    background: $ly-regular;
}
.ly-secondary {
    background: $ly-secondary;
}
.demo-row {
    margin-bottom: 16px;
}